/* COMPONENTE SESSAO QUE ENGLOBA TODOS OS OUTROS*/
.sectionCarrousel {
  width: 80vw;

  margin: 0 auto;

  padding: 1rem 0;
}

/* HEADER QUE CONTEM DOIS ELEMENTOS DENTRO */
.sectionCarrousel .headerCarrousel {
  width: fit-content;
  height: 34px;

  margin-bottom: 1rem;
}

/* TITULO DA HEADER */
.sectionCarrousel .headerCarrousel .strongHeader {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 900;
  line-height: 27px;
  text-align: left;
}

/* LINHA ABAIXO DO TITULO */
.sectionCarrousel .headerCarrousel .lineGrey {
  align-self: flex-start;

  width: 32px;
  height: 3px;

  background-color: #C0C0C0;

  margin-top: 3px;

  border: none;
}

/* SLIDES DO SWIPER */
.sectionCarrousel .divSwipper .swiperContainer .swiperSlide {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  /* COMPONENTE SESSAO QUE ENGLOBA TODOS OS OUTROS*/
  .sectionCarrousel {
    width: 70vw;
  }
}

@media only screen and (min-width: 1200px) {


}