.buttonBlack {
  background-color: #000;
  color: #FFFF;

  width: 115px;
  height: 32px;

  border: none;
  border-radius: 6px;

  font-family: Ubuntu;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;

  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .buttonBlack:hover {
    background-color: #333333;

    transition-delay: .3s linear;
  }
}