/* COMPONENTE SESSAO QUE ENGLOBA TODOS OS OUTROS ELEMENTOS*/
.sectionNews {
  background-color: #F2F2F2;

  padding: 1.5rem 1rem 1rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Nunito;
}

/* DIV DO FORMULARIO DE ENVIO EMAIL E NOME */
.sectionNews .divViewForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TITULO DO FORMULARIO */
.sectionNews .divViewForm .strongNews {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;

  color: #333333;
}

/* FORMULARIO QUE CONTEM OS INPUTS E O BOTAO*/
.sectionNews .divViewForm .formNews {
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* INPUT NOME DO FORMULARIO */
.sectionNews .divViewForm .formNews .inputName {
  margin-bottom: 1rem;

  width: 80vw;
  max-width: 280px;
  height: 48px;

  border-radius: 5px;
  border: none;

  text-indent: 1rem;

  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;

  cursor: pointer;
}

/* INPUT EMAIL DO FORMULARIO */
.sectionNews .divViewForm .formNews .inputEmail {
  margin-bottom: .4rem;

  width: 80vw;
  max-width: 280px;
  height: 48px;

  border-radius: 5px;
  border: none;

  text-indent: 1rem;

  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;

  cursor: pointer;
}

.sectionNews .divViewForm .formNews .inputEmail:valid {
  border: 2px solid;
}

/* BOTAO DE ENVIO DO FORMULARIO */
.sectionNews .divViewForm .formNews .buttonFormNews {
  width: 80vw;
  max-width: 280px;
  height: 48px;
  border-radius: 5px;

  background-color: #000;
  color: #FFF;

  border: none;
  
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;

  cursor: pointer;
}

/* BOTAO DE ENVIO DO FORMULARIO */
.sectionNews .divViewForm .formNews .buttonFormNews:hover {
  background-color: #333333;

  transition-delay: .3s linear;
}

/* DIV QUE APARECE DEPOIS DE ENVIAR O FORMULÁRIO*/
.sectionNews .divEnvio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  font-family: Nunito;
}

/* TITULO DA DIV DE PÓS ENVIO */
.sectionNews .divEnvio .strongEnvio {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

/* TEXTO DE EXPLICAÇÃO DO TITULO */
.sectionNews .divEnvio .pEnvio {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;

  margin-top: .5rem;
}

/* BOTAO DE ADICIONAR NOVO EMAIL */
.sectionNews  .divEnvio .buttonEnvio {
  padding: 1rem 1rem;
  
  border-radius: 5px;

  background-color: #000;
  color: #FFF;

  border: none;
  
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;

  cursor: pointer;

  margin-top: 1rem;
}

/* BOTAO DE ADICIONAR NOVO EMAIL */
.sectionNews .divEnvio .buttonEnvio:hover {
  background-color: #333333;

  transition-delay: .3s linear;
}

@media only screen and (min-width: 768px) {
  /* COMPONENTE SESSAO QUE ENGLOBA TODOS OS OUTROS ELEMENTOS*/
  .sectionNews {  
    height: 146px;

    padding: 0;
  }

  /* FORMULARIO QUE CONTEM OS INPUTS E O BOTAO*/
  .sectionNews .divViewForm .formNews {
    margin-top: 1rem;

    width: 716px;
    height: 48px;

    display: flex;
    flex-direction: row;

    gap: .5rem;
  }

  /* BOTAO DE ENVIO DO FORMULARIO */
  .sectionNews .divViewForm .formNews .buttonFormNews {
    width: 140px;
    height: 48px;
  }

  /* INPUT EMAIL DO FORMULARIO */
  .sectionNews .divViewForm .formNews .inputEmail {
    margin-bottom: 0rem;
  }
  
  /* INPUT NOME DO FORMULARIO */
  .sectionNews .divViewForm .formNews .inputName {
    margin-bottom: 0rem;
  }
  
}