/* COMPONENTE FOOTER QUE ENGLOBA TODOS OS OUTROS ELEMENTOS */
footer {
  background-color: #000;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.5rem 1rem 0.3rem 1rem;

  border-bottom: 6px solid #C0C0C0;
}

/* DIV QUE CONTEM O TEXTO DE LOCALIZAÇÃO */
footer .divLocalHr {
  align-self: flex-start;
}

/* TITULO DE LOCALIZAÇÃO */
footer .strongLocal {
  color: #FFF;

  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

/* LINHA BRANCA ABAIXO DA LOCALIZAÇÃO */
footer .lineWhite {
  align-self: flex-start;

  width: 32px;
  height: 4px;

  background-color: #FFF;

  margin-top: 8px;
}

/* DIV QUE CONTEM INFORMAÇÕES DA LOCALIDADE */
footer .divAdress {
  align-self: flex-start;
}

/* PARAGRAFOS DAS INFORMAÇÕES DE LOCALIDADE */
footer .divAdress .pAdress {
  font-family: Nunito;
  font-size: 13px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;

  color: #FFF;

  margin-top: 15px;
}

/* DIV DOS BOTES BRANCOS */
footer .divButtonsWhite {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 100%;
  height: 165px;

  padding: 2rem 2.5rem 0rem 2.5rem;
}

/* DIV DAS LOGOS CORE E VTEX */
footer .divImgsCoreVtex {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;

  width: 100%;

  display: flex;
  justify-content: space-between;

  padding: .5rem 1.8rem 0rem 1.8rem;
}

/* TEXTO DO LOGO COREBIZ */
footer .divImgsCoreVtex .logoCorebiz .pCreated {
  color: #FFF;

  font-family: Nunito;
  font-size: 11px;
  font-weight: 200;
  line-height: 14px;
  text-align: left;
}

@media only screen and (min-width: 520px) {
  /* DIV DOS BOTES BRANCOS */
  footer .divButtonsWhite {
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  /* COMPONENTE FOOTER QUE ENGLOBA TODOS OS OUTROS ELEMENTOS */
  footer {
    flex-direction: row;

    height: 213px;

    justify-content: center;

    gap: 2rem;
  }

  /* DIV QUE CONTEM O TEXTO DE LOCALIZAÇÃO */
  footer .divLocalHr {
    align-self: flex-start;

    width: 238px;
    height: 160px;
  }

  /* DIV DOS BOTES BRANCOS */
  footer .divButtonsWhite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    width: 195px;
    height: 101px ;
  
    padding: 0;
  }

  /* DIV DAS LOGOS CORE E VTEX */
  footer .divImgsCoreVtex {
    margin: 0;
    padding: 0;

    width: 158.2px;
    height: 35px;

    display: flex;
    gap: 1.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  /* COMPONENTE FOOTER QUE ENGLOBA TODOS OS OUTROS ELEMENTOS */
  footer {
    gap: 0;
  }
  
  /* DIV DOS BOTES BRANCOS */
  footer .divButtonsWhite {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}